/* site layout */
.footer {
    margin-bottom: 2rem;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 2rem;
}

/* post list */
.post-list {
    list-style-type: none;
    padding: unset;
}

.post-list-item {
    display: flex;
    margin-bottom: 0;
}

.post-list-item .date {
    flex: 0 0 100px;
}

.post-list-item .title {
    text-decoration: none;
}

/* single post */
.post-container {
    margin-bottom: 2rem;
}

.post-center-content {
    text-align: center;
    margin-top: -2.5rem;
    margin-bottom: 5rem;
}

@media (min-width: 550px) {
    .post-center-content {
        margin-top: -5rem;
    }
}


/* pictures layout */
.picture-grid-container {
    display: flex;
    align-items: center;
}

.picture-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 5rem;
}

@media (min-width: 550px) {
    .picture-container {
        margin-bottom: 10rem;
    }
}

/* pictures sizing */
img {
    /* #47 from https://getcssscan.com/css-box-shadow-examples */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
}

.picture-width-limit {
    max-width: 35rem;
}

.picture-height-limit {
    max-height: 35rem;
}

@media (min-width: 400px) {
    .picture-width-limit {
        max-width: 40rem;
    }
    .picture-height-limit {
        max-height: 40rem;
    }
}

@media (min-width: 550px) {
    .picture-width-limit {
        max-width: 64rem;
    }
    .picture-height-limit {
        max-height: 64rem;
    }
}

/* picture carousel */
.scrollmenu {
    margin-top: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrollcontent {
    display:inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
 }
