<html>
{{ partial "head" .}}

<body>
    <div class="container">
        <!-- Adding "." gives the context to the partial -->
        {{ partial "header" . }}

        <!-- Display latest post on the home page-->
        {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" | first 1 ) }} <!-- Gets latest posts -->

        <div style="text-align: center;">
            <p style="font-style: italic;">{{.Title}}, {{ dateFormat "January 2" .Date }}</p>
        </div>

        <div class="post-container">
            {{.Content}}
        </div>
        {{ end }}

        <!-- Display latest galleries -->
        {{ partial "latest-galleries" .}}

        {{ partial "footer" }}
    </div>
</body>

</html>