<html>
{{ partial "head" .}}

<body>
    <div class="container">
        {{ partial "header" . }}

        <!-- Displays the latest post on the home page-->
        {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" | first 1 ) }}
        <div class="post-container">
            {{.Content}}
        </div>
        {{ end }}

        <p class="bottom-margin" style="text-align: center;">
            <a href="/blog/posts" style="text-decoration: none; font-weight: bold;">
                Click me to browse all pictures!
            </a>
        </p>

        {{ partial "footer" }}
    </div>
</body>

</html>