<html>
{{ partial "head" }}

<body>
    <div class="container">
        <!-- Adding "." gives the context to the partial -->
        {{ partial "header" . }}

        <div>
            <!-- Display all posts -->
            <p style="color: gray;">
                All Posts
            </p>
            <ul class="post-list">
                {{ range .Pages }}
                <li class="post-list-item">
                    <span class="date">
                        <i>
                            {{ dateFormat "Jan 2, 2006" .Date }}
                        </i>
                    </span>
                    <a class="title" href="{{.Permalink}}">
                        {{.Title}}
                    </a>
                </li>
                {{ end }}
            </ul>

        </div>

        {{ partial "footer" }}

    </div>
</body>

</html>