<html>
{{ partial "head" .}}

<body>
    <div class="container">
        {{ partial "header" . }}

        <div class="post-container">
            {{.Content}}
        </div>


        <p style="text-align: center;">
            {{ if .Next }}
            <a href="{{ .Next.Permalink }}" style="text-decoration: none;">
                Previous: {{ .Next.Title }}
            </a>
            {{ else }}
            Previous: --
            {{ end }}

            |

            {{ if .Prev }}
            <a href="{{ .Prev.Permalink }}" style="text-decoration: none;">
                Next: {{ .Prev.Title }}
            </a>
            {{ else }}
            Next: --
            {{ end }}
        </p>


        <p style="text-align: center;">
            <a href="/blog/posts" style="text-decoration: none;">
                See all pictures
            </a>
        </p>

        {{ partial "footer" }}
    </div>
</body>

</html>