<html>
{{ partial "head" .}}

<body>
    <div class="container">
        {{ partial "header" . }}

        <div class="post-container">
            {{.Content}}
        </div>

        <!-- Displays the link to the previous and next (if any) post -->
        <ul class="post-list">
            <li class="post-list-item">
                <span class="date">
                    Previous album
                </span>
                {{ if .Next }}
                <a class="title" href="{{ .Next.Permalink }}">
                    {{ .Next.Title }}
                </a>
                {{ else }}
                n/a
                {{ end }}
            </li>

            <li class="post-list-item">
                <span class="date">
                    Next album
                </span>
                {{ if .Prev }}
                <a class="title" href="{{ .Prev.Permalink }}">
                    {{ .Prev.Title }}
                </a>
                {{ else }}
                n/a
                {{ end }}
            </li>
        </ul>

        {{ partial "footer" }}
    </div>
</body>

</html>