<div style="text-align: center; margin-top: 5rem; margin-bottom: 5rem">
    <div>
        <a href="/blog/" style="display: inline-block; vertical-align: middle;">
            <img src="/blog/orange.png" style="height: 5rem; border-style: none; box-shadow: none;" />
        </a>

        <div style="display: inline-block; vertical-align: middle; margin-bottom: 0; text-align: left;">
            <p style="margin: 0; line-height: 1.8rem;">
                <a href="/blog/" style="text-decoration: none; color: black;">
                    William's
                </a>
            </p>
            <p style="margin: 0; line-height: 1.8rem;">
                <a href="/blog/" style="text-decoration: none; color: black;">
                    Photos
                </a>
            </p>
        </div>
    </div>
</div>