<head>
    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Galleries</title>
    <meta name="description" content="Pictures">
    <meta name="author" content="William Sevigny">

    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- URL
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <base href="{{ .Site.BaseURL }}">

    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/blog/normalize.css">
    <link rel="stylesheet" href="/blog/skeleton.css">
    <link rel="stylesheet" href="/blog/styles.css">
    <link rel="stylesheet" href="/blog/bilderrahmen-style-override.css">

    <link rel="icon" type="image/x-icon" href="/blog/orange32.ico">

    <link href="https://cdn.jsdelivr.net/npm/bilderrahmen@1.0.0/bilderrahmen.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/gh/requirejs/requirejs@2.3.5/require.js"></script>
</head>

<script>
    require(['https://cdn.jsdelivr.net/npm/bilderrahmen@1.0.0/bilderrahmen.umd.es5.js'], function (module) {
        new module.Bilderrahmen({ closeOnOutsideClick: true });
    });
</script>