<div style="display: flex; justify-content: flex-start; align-items: center; margin-top: 3rem; margin-bottom: 5rem">
    <div style="margin-bottom: 0;">
        <h1 style="margin: 0; font-weight: 600; font-size: 8rem; letter-spacing: -0.03rem; line-height: 1.0;">
            <a href="/blog/" style="text-decoration: none; color: black;">
                William's Photo Albums
            </a>
            <a href="/blog/" style="margin-right: 1rem;">
                <img src="/blog/website_v2_no_back.png" style="height: 5.5rem; border-style: none; box-shadow: none;" />
            </a>
        </h1>

    </div>
</div>