<!-- Displays latest galleries -->

<hr style="margin-bottom: 2rem;">

<ul class=" post-list">
    <!-- Gets last 3 posts -->
    {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" | first 3 ) }}
    <li class="post-list-item">
        <span class="date">
            {{ dateFormat "Jan 2006" .Date }}
        </span>
        <a class="title" href="{{.Permalink}}">
            {{.Title}}
        </a>
    </li>
    {{ end }}
</ul>

<p style="text-align: center;">
    <a href="/blog/posts">
        Browse all galleries
    </a>
</p>