<!-- Displays latest galleries -->
<!-- <hr style="width:18rem;"> -->

<h3>
    More Galleries
    <span>
        <a href="/blog/posts" style="text-decoration: none;">
            (all)
        </a>
    </span>
</h3>

<ul class="post-list">
    <!-- Gets last 3 posts -->
    {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" | first 3 ) }}
    <li class="post-list-item">
        <span class="date">
            <i>
                {{ dateFormat "Jan 2, 2006" .Date }}
            </i>
        </span>
        <a class="title" href="{{.Permalink}}">
            {{.Title}}
        </a>
    </li>
    {{ end }}
</ul>