<!-- Displays latest galleries -->
<!-- <hr style="width:18rem;"> -->


<h1>
    <a href="/blog/posts" style="text-decoration: none;">
        More
    </a>
</h1>

<ul class="post-list">
    <!-- Gets last 3 posts -->
    {{ range ( where .Site.RegularPages.ByDate.Reverse "Type" "posts" | first 3 ) }}
    <li class="post-list-item">
        <span class="date">
            {{ dateFormat "Jan 2006" .Date }}
        </span>
        <a class="title" href="{{.Permalink}}">
            {{.Title}}
        </a>
    </li>
    {{ end }}
</ul>