{{ with . }}

<!-- Horizontal image -->
{{ if lt .Height .Width }}
<div class="picture-width-limit">
    <!-- Image is rotated 90 -->
    {{ if eq .Exif.Tags.Orientation 8 }}
    {{ $image := .Resize "x2400 webp q80 r90" }}
    <a href="{{ $image.RelPermalink }}" target="_blank">
        <img src="{{ $image.RelPermalink }}" class="u-max-full-width"
            data-bilderrahmen="gallery-{{$image.RelPermalink}}">
    </a>

    <!-- Image is the correct rotation -->
    {{ else }}
    {{ $image := .Resize "2400x webp q80"}}
    <a href="{{ $image.RelPermalink }}" target="_blank">
        <img src="{{ $image.RelPermalink }}" class="u-max-full-width"
            data-bilderrahmen="gallery-{{$image.RelPermalink}}">
    </a>
    {{ end }}
</div>

<!-- Vertical image -->
{{ else }}
{{ $image := .Resize "x2400 webp q80" }}
<a href="{{ $image.RelPermalink }}" target="_blank">
    <img src="{{ $image.RelPermalink }}" class="picture-height-limit u-max-full-width"
        data-bilderrahmen="gallery-{{$image.RelPermalink}}">
</a>
{{ end }}

{{ end }}