{{ with . }}
<!-- https://exiftool.org/TagNames/EXIF.html -->
<!-- Horizontal image -->
{{ if lt .Height .Width }}
<div class="picture-width-limit">
    <!-- Image is rotated 270 CW -->
    {{ if eq .Exif.Tags.Orientation 8 }}
    {{ $display := .Resize "x1400 webp q80 r90" }}
    {{ $lightbox := .Resize "x2400 webp q80 r90" }}
    <a href="{{ $lightbox.RelPermalink }}" data-pswp-width="{{ $lightbox.Width }}" data-pswp-height="{{ $lightbox.Height }}" style="line-height: 0;">
        <img src="{{ $display.RelPermalink }}" class="picture-height-limit u-max-full-width">
    </a>
    <p style="color: gray; margin-bottom: 0rem; text-align: end; margin-top: 0.5rem;">{{ .Exif.Tags.ImageDescription }}
    </p>

    <!-- Image is rotated 90 CW -->
    {{ else if eq .Exif.Tags.Orientation 6 }}
    {{ $display := .Resize "x1400 webp q80 r270" }}
    {{ $lightbox := .Resize "x2400 webp q80 r270" }}
    <a href="{{ $lightbox.RelPermalink }}" data-pswp-width="{{ $lightbox.Width }}" data-pswp-height="{{ $lightbox.Height }}" style="line-height: 0;">
        <img src="{{ $display.RelPermalink }}" class="picture-height-limit u-max-full-width">
    </a>
    <p style="color: gray; margin-bottom: 0rem; text-align: end; margin-top: 0.5rem;">{{ .Exif.Tags.ImageDescription }}
    </p>

    <!-- Image is the correct rotation -->
    {{ else }}
    {{ $display := .Resize "1400x webp q80" }}
    {{ $lightbox := .Resize "2400x webp q80" }}
    <a href="{{ $lightbox.RelPermalink }}" data-pswp-width="{{ $lightbox.Width }}" data-pswp-height="{{ $lightbox.Height }}" style="line-height: 0;">
        <img src="{{ $display.RelPermalink }}" class="u-max-full-width">
    </a>
    <p style="color: gray; margin-bottom: 0rem; text-align: end; margin-top: 0.5rem;">{{ .Exif.Tags.ImageDescription }}
    </p>
    {{ end }}
</div>

<!-- Vertical image -->
{{ else }}
{{ $display := .Resize "x1400 webp q80" }}
{{ $lightbox := .Resize "x2400 webp q80" }}
<a href="{{ $lightbox.RelPermalink }}" data-pswp-width="{{ $lightbox.Width }}" data-pswp-height="{{ $lightbox.Height }}" style="line-height: 0;">
    <img src="{{ $display.RelPermalink }}" class="picture-height-limit u-max-full-width">
</a>
<p style="color: gray; margin-bottom: 0rem; text-align: end; margin-top: 0.5rem;">{{ .Exif.Tags.ImageDescription }}</p>
{{ end }}
{{ end }}
