.logo-title {
    margin-right: 12;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-title:hover {
    color: white;
}

.header {
    margin-bottom: 1rem;
    position: sticky;
    top: 0rem;
}

.footer {
    position: sticky;
    bottom: 0;
    background-color: black;
    margin: 1rem 0;
}

.navbar {
    padding: 0 0.25em;
    background-color: black;
}

.navbar-item {
    margin-right: 12;
    color: white;
    text-decoration: none;
}

.navbar-item:hover {
    color: dodgerblue;
    text-decoration: underline;
}

/* list.html */
.post-list {
    list-style-type: none;
    padding: unset;
}

.post-list-item {
    display: flex;
    margin-bottom: 0;
}

.post-list-item .date {
    flex: 0 0 130px;
}

.post-list-item .title {
    text-decoration: none;
}

/* single.html */
.post-date {
    color:grey;
    font-size:16px;
}

.post-author {
    color:grey;
    font-size:16px;
}

.picture-height-limit {
    max-height: 800;
}

.thumbnail {
    display: block;
    width: 1em;
    height: 1em;
}

.imagecontainer {
    width: fit-content;
    margin: auto;
    margin-bottom: 4rem;
}

/* .imagecontainer:last-of-type {
    margin-bottom: 1rem;
} */

.scrollmenu {
    margin-top: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrollcontent {
    display:inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
 }
