/* site layout */
.header {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.navbar-item {
    margin-right: 0.5rem;
    color: black;
    text-decoration: none;
}

.navbar-item:last-child {
    margin-right: 0;
}

.navbar-item:hover {
    color: grey;
    text-decoration: underline;
}

/* post list */
.post-list {
    list-style-type: none;
    padding: unset;
}

.post-list-item {
    display: flex;
    margin-bottom: 0;
}

.post-list-item .date {
    flex: 0 0 130px;
}

.post-list-item .title {
    text-decoration: none;
}

/* single post */
.post-container {
    margin-top: 3em;
    margin-bottom: 3em;
}

.post-date {
    color:grey;
    font-size:16px;
}

.post-author {
    color:grey;
    font-size:16px;
}

/* pictures layout */
.picture-grid-container {
    display: flex;
    align-items: center;
}

.picture-container {
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}

/* pictures sizing */
.picture-width-limit {
    max-width: 80rem;
}

.picture-height-limit {
    max-height: 30rem;
}

@media (min-width: 400px) {
    .picture-height-limit {
        max-height: 40rem;
    }
}

@media (min-width: 550px) {
    .picture-height-limit {
        max-height: 60rem;
    }
}

 /* pictures pop-up custom styling */
 .bilderrahmen-wrapper {
    background-color: rgba(255, 255, 255, 0.8) !important;
 }

 .bilderrahmen--image-inner-wrap{
    height: 90vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .bilderrahmen--top-close {
    display: none;
 }

/* picture carousel */
.scrollmenu {
    margin-top: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrollcontent {
    display:inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;
 }
