<!-- http://jsfiddle.net/YbrX3/ -->
{{ $images := .Page.Resources.Match (.Get 0) }}
{{ range $images }}
{{ if in (slice "jpeg" "png") .MediaType.SubType }}
<div class="imagecontainer">
    {{ if lt .Height .Width }}
    <!-- Horizontal image -->
    {{ $image := .Resize "1200x webp"}}
    <img src="{{ $image.RelPermalink }}" class=" picture">
    {{ else }}
    <!-- Vertical image -->
    {{ $image := .Resize "x1200 webp" }}
    <img src="{{ $image.RelPermalink }}" class=" picture-vertical">
    {{ end }}
    {{ end }}
</div>
{{ end }}