<!-- @params path : image directory relative path -->
<!-- http://jsfiddle.net/YbrX3/ -->

{{ $images := .Page.Resources.Match (.Get 0) }}
{{ $images := where $images ".MediaType.SubType" "in" (slice "jpeg" "png") }}
{{ $imageLeft := index $images 0}}
{{ $imageRight := index $images 1}}

<div class="row picture-grid-container">
    <div class="four columns">
        <div class="picture-container">
            {{ partial "picture" $imageLeft}}
        </div>
    </div>

    <div class="eight columns">
        <div class="picture-container">
            {{ partial "picture" $imageRight}}
        </div>
    </div>
</div>