<!-- @params path : image directory relative path -->
<!-- http://jsfiddle.net/YbrX3/ -->
<div class="picture-grid">
    {{ $images := .Page.Resources.Match (.Get 0) }}
    <div class="row" style="display: flex; align-items: center;">
        {{ range $images | first 2 }}
        {{ if in (slice "jpeg" "png") .MediaType.SubType }}
        <div class="one-half column">
            <div class="imagecontainer">
                {{ partial "picture" .}}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>